@font-face {
	font-family: 'FjallaOne';
	src: url('../fonts/FjallaOne-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'WorkSans';
	src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'WorkSans', sans-serif;
	background-color: #eeeeee;
}

img {
	width: 100px;
	margin-bottom: 12px;
}

h1 {
	font-family: 'FjallaOne', sans-serif;
}

main {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

form {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 30px;
}

fieldset {
	padding: 14px;
	border: 1px #ccc solid;
	border-radius: 12px;
	margin-bottom: 16px;
}

legend {
	font-weight: bold;
	font-size: 20px;
}
